<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/warehouse</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property> THIS MAY BE CAUSING PROBLEMS -->

        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="KursovProektOOP2.data.entity.AgentsList"/>
        <mapping class="KursovProektOOP2.data.entity.Agent"/>
        <mapping class="KursovProektOOP2.data.entity.Owner"/>
        <mapping class="KursovProektOOP2.data.entity.OwnerHasWarehouses"/>
        <mapping class="KursovProektOOP2.data.entity.City"/>
        <mapping class="KursovProektOOP2.data.entity.Climate"/>
        <mapping class="KursovProektOOP2.data.entity.Formular"/>
        <mapping class="KursovProektOOP2.data.entity.Maintenance"/>
        <mapping class="KursovProektOOP2.data.entity.ProductType"/>
        <mapping class="KursovProektOOP2.data.entity.RentalHistory"/>
        <mapping class="KursovProektOOP2.data.entity.RenterInformation"/>
        <mapping class="KursovProektOOP2.data.entity.Role"/>
        <mapping class="KursovProektOOP2.data.entity.StorageRoom"/>
        <mapping class="KursovProektOOP2.data.entity.User"/>
        <mapping class="KursovProektOOP2.data.entity.Warehouse"/>
        <mapping class="KursovProektOOP2.data.entity.WarehouseHasRooms"/>
    </session-factory>
</hibernate-configuration>