.btns {
    -fx-background-color: transparent;
}

.btns:hover {
    -fx-background-color: #5e5e5e;
}

.btns:pressed {
    -fx-background-color: #8a8a8a;
}

.btns:focused {
    -fx-background-color: #8a8a8a;
}


.accbtns {
    -fx-background-color: transparent;
}

.accbtns:hover {
    -fx-background-color: #e8e8e8;
}

.accbtns:pressed {
    -fx-background-color: #e3e3e3;
}
.accbtns:selected{
    -fx-background-color: #d4d4d4;
}