.text-field
{
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 5px;
}

.text-field:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 5px;
}

.text-field:focused
{
    -fx-background-color: transparent, #0099ef, transparent, white;
    -fx-background-radius: 5px;
}

.star{
    -fx-fill: white;
    -fx-stroke: darkorange;
}

.star:hover{
    -fx-fill: orange;
    -fx-stroke: darkorange;
}

.star:pressed{
    -fx-fill: darkorange;
    -fx-stroke: darkorange;
}